{% extends 'base.html' %}


{% block content %}
<div class="container">
	<h2>{% if object %}Update{% else %}Upload{% endif %} a photo</h2>
  <form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{% for field in form %}
    <div class="form-group">
			{{ field.errors }}
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			{{ field }}
    </div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">{% if object %}update{% else %}upload{% endif %}</button>
		<a href="{% url "photo:list" %}" class="btn btn-default">to list</a>
		{% if object %}
		<a href="{% url "photo:detail" object.id %}" class="btn btn-default">to details</a>
		{% endif %}
  </form>
</div>
{% endblock content %}
