{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Image details</h2>
	<h4>Description: <strong>{{ object.description }}</strong></h4>
	<table class="table table-striped table-bordered table-condensed" style="width:50%">
		<tr>
			<th colspan=2 style="text-align: center">Google Vision tags for this photo</th>
		</tr>
  	<tr>
   		<th>Label</th>
    	<th>Score</th>
  	</tr>
		{% for i in object.photogooglevisiondetails_set.all %}
		<tr>
			<td>{{ i.description }}</td>
			<td>{{ i.score }}</td>
		</tr>
		{% endfor %}
</table>
	<img class="img-responsive" src="{{ object.photo.url }}" alt="photo" width="100%" height="auto" style="padding-bottom: 20px"> 
	<a href="{% url "photo:delete" object.id %}" class="btn btn-danger">delete</a>
	<a href="{% url "photo:update" object.id %}" class="btn btn-primary">update</a>
	<a href="{% url "photo:list" %}" class="btn btn-default">to list</a>
</div>
{% endblock %}

