{% extends 'base.html' %}

{% comment %}
{% block content %}
<h1>Photos List</h1>
{% if object_list %}
    <ul>
    {% for photo in object_list %}
		<li>
			  <a href="{% url 'photo:detail' photo.id %}">{{ photo.description }}</a>
				<a href="{% url 'photo:delete' photo.id %}">Delete photo</a>
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No photos are available.</p>
{% endif %}

{% block content %}
<h1>Photos List</h1>
<p><a href="{% url 'photo:upload' %}">Upload a photo</a></p>
{% for photo in object_list %}
<div class="gallery">
	<a href="{% url "photo:detail" photo.id %}">
		<img src="{{ photo.photo.url }}" alt="photo" width="300", height="200">
  </a>
	<div class="desc">{{ photo.description }}</div>
</div>
{% endfor %}
{% endblock %}
{% endcomment %}

{% block content %}
<div class="container">
  <h2>Image Gallery</h2>
  <p>Click on the images to get the details.</p>
  <div class="row">
		{% for photo in object_list %}
    <div class="col-md-3">
      <div class="thumbnail">
				<a href="{% url "photo:detail" photo.id %}">
					<img src="{{ photo.photo.url }}" alt="photo">
        </a>
        <div class="caption">
					<p>{{ photo.description }}</p>
					<a href="{% url "photo:update" photo.id %}" class="btn btn-primary">update</a>
					<a href="{% url "photo:delete" photo.id %}" class="btn btn-danger">delete</a>
        </div>
      </div>
    </div>
		{% endfor %}
  </div>
	{% include "pagination.html" %}
	<a href="{% url "photo:upload" %}" class="btn btn-primary">upload a photo</a>
</div>
{% endblock %}
