{% extends 'base.html' %}

{% block content %}
<h1>Delete the <strong>{{ object.description }}</strong> photo?</h1>
<form action="" method="post">
	  {% csrf_token %}
<input type="submit" value="Delete" class="btn btn-danger">
<a href="{% url 'photo:list' %}" class="btn btn-default">to list</a>
<a href="{% url 'photo:detail' object.id %}" class="btn btn-default">to details</a>
</form>
{% endblock content %}

