{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="container">
  <h2>Log in</h2>
  <form action="" method='post'>
		{% csrf_token %}
		{{ form.non_field_errors }}
    <div class="form-group">
			{{ form.username.errors }}
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="email" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
			{{ form.password.errors }}
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
    <button type="submit" class="btn btn-default">Log in</button>
		<input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

{# This view not included in this simplistic demo application #}
{% comment %}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endcomment %}

{% endblock %}

