<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Instant View{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	{% block navbar %}
	<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'index' %}">Instant View</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="{% url 'index' %}">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				<p class="navbar-text">Logged as {{ user.username }}</p>
				<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				{% else %}
				<p class="navbar-text">not logged in</p>
				<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% endblock %}

	<div class="panel panel-default">
		<div class="panel-heading">
			{% block header %}<h1>Instant View</h1>{% endblock %}
		</div>

		<div class="panel-body">
			{% block content %}{% endblock %}
		</div>

		<div class="panel-footer">Instant View</div>
			{% block footer %}{% endblock %}
		</div>
	</div>

</body>
</html>

