{% extends 'base.html' %}
{% block content %}
<h1>Welcome in Instant View {% if user.is_authenticated %}{{ user.username }}{% endif %}</h1>
{% if user.is_authenticated %}
	<a href="{% url 'photo:list' %}" class="btn btn-info" role="button">photo gallery</a>
{% else %}
<p>Please <a href="{% url 'login' %}">log in</a> or <a href="signup">sign up</a></p>
{% endif %}
{% endblock content %}

