<div class="container">
	<ul class="pagination">
		<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a {% if page_obj.has_previous %}href="?page=1"{% endif %}>&lt&lt</a></li>
		<li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>&lt</a></li>
		<li class="active"><a>{{ page_obj.number }}</a></li>
		<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>&gt</a></li>
		<li {% if not page_obj.has_next %}class="disabled"{% endif %}><a {% if page_obj.has_next %}href="?page={{ paginator.num_pages }}"{% endif %}>&gt&gt</a></li>
	</ul>
</div>
