{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
		{{ form.errors }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-default">Sign up</button>
  </form>
{% endblock %}
